<?xml version="1.0"?>

<robot name="quadrotor" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find hector_sensors_description)/urdf/sonar_sensor.urdf.xacro" />
  <xacro:property name="pi" value="3.1415926535897931" />

  <!-- Main quadrotor link -->
  <xacro:macro name="quadrotor_base_macro">
    <link name="base_link">
      <inertial>
        <mass value="1.477" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}" />
        <geometry>
          <mesh filename="package://hector_quadrotor_description/meshes/quadrotor/quadcopter.stl"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}" />>
        <geometry>
          <mesh filename="package://hector_quadrotor_description/meshes/quadrotor/quadcopter.stl"/>
        </geometry>
      </collision>
    </link>

    <!-- Sonar height sensors -->
    <xacro:sonar_sensor name="sonar_right" parent="base_link" ros_topic="sonar_right" update_rate="10" min_range="0.03" max_range="10.0" field_of_view="${3*pi/180}" ray_count="3">
        <origin xyz="-0.06 0.0 0.05" rpy="0 0 ${180*pi/180}"/>
      </xacro:sonar_sensor>

      <xacro:sonar_sensor name="sonar_left" parent="base_link" ros_topic="sonar_left" update_rate="10" min_range="0.03" max_range="10.0" field_of_view="${3*pi/180}" ray_count="3">
        <origin xyz="0.06 0.0 0.05" rpy="0 0 0"/>
      </xacro:sonar_sensor>

      <xacro:sonar_sensor name="sonar_backward" parent="base_link" ros_topic="sonar_backward" update_rate="10" min_range="0.03" max_range="10.0" field_of_view="${3*pi/180}" ray_count="3">
        <origin xyz="0.0 0.06 0.05" rpy="0 0 ${90*pi/180}"/>
      </xacro:sonar_sensor>

      <xacro:sonar_sensor name="sonar_forward" parent="base_link" ros_topic="sonar_forward" update_rate="10" min_range="0.03" max_range="10.0" field_of_view="${3*pi/180}" ray_count="3">
        <origin xyz="0.0 -0.06 0.05" rpy="0 0 ${-90*pi/180}"/>
      </xacro:sonar_sensor>

      <xacro:sonar_sensor name="sonar_up" parent="base_link" ros_topic="sonar_up" update_rate="10" min_range="0.03" max_range="10.0" field_of_view="${3*pi/180}" ray_count="3">
        <origin xyz="0.0 0.0 0.04" rpy="0 ${-90*pi/180} 0"/>
      </xacro:sonar_sensor>

      <xacro:sonar_sensor name="sonar_down" parent="base_link" ros_topic="sonar_down" update_rate="10" min_range="0.03" max_range="10.0" field_of_view="${3*pi/180}" ray_count="3">
        <origin xyz="0.0 0.0 -0.13" rpy="0 ${90*pi/180} 0"/>
      </xacro:sonar_sensor>
  </xacro:macro>
</robot>
